$backgroundColor: #E4DFDA;
$accentColor: #ED4845;
$accentColor2: #3185FC;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.error-toast {
  background-color: red !important;
}

.custom-placeholder {
  padding: 0 !important;
  left: 43px;
  bottom: 7px;
  background: none;
  transition: all 200ms;
  width: fit-content;
}

.custom-icon {
  transition: all 200ms;
}

.custom-link {
  color: black;
  transition: all 200ms;

  &:hover {
    color: $accentColor2
  }
}

.border {
  transition: all 200ms;
}

.group:focus-within .border {
  border: 1px solid $accentColor !important;
}

.group:focus-within .custom-icon {
  color: $accentColor;
}

.group:focus-within label {
  bottom: 30px;
  background: white;
  color: $accentColor;
}

.custom-input {
  border: 1px solid $accentColor;
}

.focus-label {
  bottom: 30px;
  background: white;
}

.custom-button {
  width: 50%;
}

.pointer {
  cursor: pointer;
}

.nav-item {
  .active {
    color: $accentColor !important;
  }
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus,
.btn:active,
.btn:hover {
  box-shadow: none !important;
  outline: 0;
  background: $accentColor;
}

.btn-primary {
  background: $accentColor;
  border: none;

  &:hover {
    background: $accentColor;
  }

  &:focus {
    background: $accentColor;
  }
}

.my-repetition-card {
  width: 100%;
}

.trash-icon {
  padding-right: 35px;
}

.admin-button {
  width: 200px;
}

.cards {
  display: grid;
  justify-items: center;

  .card-body {
    text-align: center;
  }

  .professor-card {

    padding: 10px;

    .card {
      padding: 0 10px 10px 10px;
      width: 18rem;
      height: 8rem;

      .card-body {
        padding: 0;
      }

      .row {
        height: 8rem;
      }
    }
  }

  .course-card {
    padding: 10px;

    .card {
      border-radius: 15px;
      background: $accentColor2;
      border: none;
      color: white;
      padding: 10px !important;
      width: 18rem;
      height: fit-content;
    }

    img {
      filter: brightness(0) invert(1);
      width: 68px;
    }
  }

  .is-loading {
    padding: 10px;

    .image,
    h5,
    p {
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
    }

    .row {
      display: flex;
      justify-content: center;
    }

    .image {
      height: 68px;
      max-width: 68px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    h5 {
      height: 30px;
    }

    p {
      height: 70px;
    }
  }
}

.w-10 {
  width: 10%;
}

.vuecal__menu {
  display: none;
}

// .vuecal__time-cell {
//   height: 100px !important;
// }

.vuecal__event {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.is-loading {

  .image,
  h5,
  p {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .image {
    height: 68px;
    max-width: 68px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  h5 {
    height: 20px;
  }

  p {
    height: 20px;
  }
}

.materia {
  background-color: lightblue;
}

.occupied {
  background-color: lightgray;
}



.col-img-2 {
  background-size: cover;
  background-position: center;
  width: 150px !important;
  height: 150px !important;
  border-radius: 50%;
}

.col-img {
  background-size: cover;
  background-position: center;
  border-radius: var(--bs-card-border-radius) 0 0 var(--bs-card-border-radius);
}

.navigation {
  display: flex;
}

.professor-item {
  .card-body {
    padding: 0 !important;
  }

  .row {
    height: 120px;

    .col-10 {
      padding: 10px;
    }

    .col-1 {
      padding: 10px 20px 0 0;
    }
  }
}

.modal-image {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.login-container {
  height: 100svh;
}

.nav-link {
  cursor: pointer;
}

.vuecal__arrow--prev-visible {
  visibility: inherit !important;
}

.vuecal__arrow--prev {
  visibility: hidden;
}


@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}