$backgroundColor: #E4DFDA;
$accentColor: #ED4845;
$accentColor2: #3185FC;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.material-design-icon {
  color: var(--bs-nav-link-color);

  .active {
    color: var(--bs-navbar-active-color) !important;
  }
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus,
.btn:active,
.btn:hover {
  box-shadow: none !important;
  outline: 0;
}

.btn-primary {
  background: $accentColor2;

  &:hover {
    background: $accentColor;
  }
}

.my-repetition-card {
  width: 100%;
}

.trash-icon {
  padding-right: 35px;
}

.cards {
  display: grid;
  justify-items: center;

  .card-body {
    text-align: center;
  }

  .professor-card {

    padding: 10px;

    .card {
      padding: 0 10px 10px 10px;
      width: 18rem;
      height: 8rem;

      .card-body {
        padding: 0;
      }

      .row {
        height: 8rem;
      }
    }
  }

  .course-card {
    padding: 10px;

    .card {
      padding: 10px !important;
      width: 18rem;
      height: 8rem;
    }

    .row {
      display: flex;
      justify-content: center;

      img {
        width: 68px;
      }
    }
  }

  .is-loading {
    padding: 10px;

    .image,
    h5,
    p {
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
    }

    .row {
      display: flex;
      justify-content: center;
    }

    .image {
      height: 68px;
      max-width: 68px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    h5 {
      height: 30px;
    }

    p {
      height: 70px;
    }
  }
}

.w-10 {
  width: 10%;
}

.vuecal__menu {
  display: none;
}

.vuecal__time-cell {
  height: 100px !important;
}

.vuecal__event {
  height: 100px !important;
  top: 100px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.is-loading {

  .image,
  h5,
  p {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .image {
    height: 68px;
    max-width: 68px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  h5 {
    height: 20px;
  }

  p {
    height: 20px;
  }
}

.materia {
  background-color: lightblue;
}

.col-img {
  background-size: cover;
  background-position: center;
  border-radius: var(--bs-card-border-radius) 0 0 var(--bs-card-border-radius);
}

.navigation {
  display: flex;
}

.professor-item {
  .card-body {
    padding: 0 !important;
  }

  .row {
    height: 120px;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}