* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.error-toast {
  background-color: red !important;
}

.custom-placeholder {
  padding: 0 !important;
  left: 43px;
  bottom: 7px;
  background: none;
  transition: all 200ms;
  width: fit-content;
}

.custom-icon {
  transition: all 200ms;
}

.custom-link {
  color: black;
  transition: all 200ms;
}
.custom-link:hover {
  color: #3185FC;
}

.border {
  transition: all 200ms;
}

.group:focus-within .border {
  border: 1px solid #ED4845 !important;
}

.group:focus-within .custom-icon {
  color: #ED4845;
}

.group:focus-within label {
  bottom: 30px;
  background: white;
  color: #ED4845;
}

.custom-input {
  border: 1px solid #ED4845;
}

.focus-label {
  bottom: 30px;
  background: white;
}

.custom-button {
  width: 50%;
}

.modal-button {
  width: fit-content;
}

.pointer {
  cursor: pointer;
}

.nav-item .active {
  color: #ED4845 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus,
.btn:active,
.btn:hover {
  box-shadow: none !important;
  outline: 0;
  background: #ED4845;
}

.btn-primary {
  background: #ED4845;
  border: none;
}
.btn-primary:hover {
  background: #ED4845;
}
.btn-primary:focus {
  background: #ED4845;
}

.my-repetition-card {
  width: 100%;
}

.trash-icon {
  padding-right: 35px;
}

.admin-button {
  width: 200px;
}

.cards {
  display: grid;
  justify-items: center;
}
.cards .card-body {
  text-align: center;
}
.cards .professor-card {
  padding: 10px;
}
.cards .professor-card .card {
  padding: 0 10px 10px 10px;
  width: 18rem;
  height: 8rem;
}
.cards .professor-card .card .card-body {
  padding: 0;
}
.cards .professor-card .card .row {
  height: 8rem;
}
.cards .course-card {
  padding: 10px;
}
.cards .course-card .card {
  border-radius: 15px;
  background: #3185FC;
  border: none;
  color: white;
  padding: 10px !important;
  width: 18rem;
  height: fit-content;
}
.cards .course-card img {
  filter: brightness(0) invert(1);
  width: 68px;
}
.cards .is-loading {
  padding: 10px;
}
.cards .is-loading .image,
.cards .is-loading h5,
.cards .is-loading p {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
.cards .is-loading .row {
  display: flex;
  justify-content: center;
}
.cards .is-loading .image {
  height: 68px;
  max-width: 68px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cards .is-loading h5 {
  height: 30px;
}
.cards .is-loading p {
  height: 70px;
}

.w-10 {
  width: 10%;
}

.vuecal__menu {
  display: none;
}

.vuecal__event {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.is-loading .image,
.is-loading h5,
.is-loading p {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
.is-loading .row {
  display: flex;
  justify-content: center;
}
.is-loading .image {
  height: 68px;
  max-width: 68px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.is-loading h5 {
  height: 20px;
}
.is-loading p {
  height: 20px;
}

.materia {
  background-color: #3185FC;
  color: white;
  cursor: pointer;
  transition: all 400ms;
}
.materia:hover {
  background-color: #2971D6;
}

.occupied {
  background-color: lightgray;
  color: black;
}
.occupied:hover {
  background-color: lightgray;
}

.col-img-2 {
  background-size: cover;
  background-position: center;
  width: 150px !important;
  height: 150px !important;
  border-radius: 50%;
}

.col-img {
  background-size: cover;
  background-position: center;
  border-radius: var(--bs-card-border-radius) 0 0 var(--bs-card-border-radius);
}

.navigation {
  display: flex;
}

.professor-item .card-body {
  padding: 0 !important;
}
.professor-item .row {
  height: 120px;
}
.professor-item .row .col-10 {
  padding: 10px;
}
.professor-item .row .col-1 {
  padding: 10px 20px 0 0;
}

.modal-image {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.login-container {
  height: 100svh;
}

.nav-link {
  cursor: pointer;
}

.vuecal__arrow--prev-visible {
  visibility: inherit !important;
}

.vuecal__arrow--prev {
  visibility: hidden;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
