$accentColor: #ED4845;
$accentColor2: #3185FC;
$backgroundColor: #E4DFDA;
$smallDevices: 576px;

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: $backgroundColor !important;
}

.top {
  color: $backgroundColor;
  background-size: cover;
  background: url("../img/pexels-pixabay-355948.jpg") no-repeat center;
  height: 500px;

  .cards {
    gap: 10px;
  }
}

.body {
  background: $accentColor2;
  width: 80vw;
  top: 350px;
}

@media (max-width: $smallDevices) {
  .body {
    width: 100vw;
  }
}
